<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.gitflow.branch</string>
            <key>UTTypeDescription</key>
            <string>Git Branch</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict/>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.gitflow.commit</string>
            <key>UTTypeDescription</key>
            <string>Git Commit</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict/>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.gitflow.stash</string>
            <key>UTTypeDescription</key>
            <string>Git Stash</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict/>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.gitflow.tag</string>
            <key>UTTypeDescription</key>
            <string>Git Tag</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict/>
        </dict>
    </array>
</dict>
</plist>
